## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

## ASP.NET Static Web Assets
**/staticwebassets*
*.json

## NuGet
*.nupkg
project.lock.json
project.assets.json
project.nuget.cache
*.nuget.*

## Rider / JetBrains
.idea/

## Index plików
*.vsidx
